$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

.root{
--section-background-color: #F5F5F5;
--header-background-color: #FEFEFE;
--yellow-color: #FFE550;
--accent-green-color: #BBF330;
--accent-dark-green: #7EB101;
--primary-text-color: #2C2C2C;
--secondary-text-color: #000000;
}

