<section class="section-favoriets" id="favourites">
  <div class="container favoriets__container">
    <h2 class="section-title favoriets__title">Some of Our Favorites</h2>
    <p class="favoriets__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favoriets__list">
      <li class="favoriets__item">
        <picture>
          <source
            srcset="
              ./images/favoriets/desktop/gamburger.webp    1x,
              ./images/favoriets/desktop/gamburger@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favoriets/desktop/gamburger.jpg    1x,
              ./images/favoriets/desktop/gamburger@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/favoriets/tablet/gamburger.webp    1x,
              ./images/favoriets/tablet/gamburger@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favoriets/tablet/gamburger.jpg    1x,
              ./images/favoriets/tablet/gamburger@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/favoriets/mobile/gamburger.webp    1x,
              ./images/favoriets/mobile/gamburger@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favoriets/mobile/gamburger.jpg    1x,
              ./images/favoriets/mobile/gamburger@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="./images/favoriets/mobile/gamburger.jpg"
            alt="gamburger"
            class="favoriets__img"
          />
        </picture>
      </li>
      <li class="favoriets__item">
        <picture>
          <source
            srcset="
              ./images/favoriets/desktop/pasta.webp    1x,
              ./images/favoriets/desktop/pasta@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favoriets/desktop/pasta.jpg    1x,
              ./images/favoriets/desktop/pasta@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/favoriets/tablet/pasta.webp    1x,
              ./images/favoriets/tablet/pasta@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favoriets/tablet/pasta.jpg    1x,
              ./images/favoriets/tablet/pasta@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/favoriets/mobile/pasta.webp    1x,
              ./images/favoriets/mobile/pasta@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favoriets/mobile/pasta.jpg    1x,
              ./images/favoriets/mobile/pasta@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="./images/favoriets/mobile/pasta.jpg"
            alt="pasta"
            class="favoriets__img"
          />
        </picture>
      </li>
      <li class="favoriets__item">
        <picture>
          <source
            srcset="
              ./images/favoriets/desktop/pizza.webp    1x,
              ./images/favoriets/desktop/pizza@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favoriets/desktop/pizza.jpg    1x,
              ./images/favoriets/desktop/pizza@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/favoriets/tablet/pizza.webp    1x,
              ./images/favoriets/tablet/pizza@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favoriets/tablet/pizza.jpg    1x,
              ./images/favoriets/tablet/pizza@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/favoriets/mobile/pizza.webp    1x,
              ./images/favoriets/mobile/pizza@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favoriets/mobile/pizza.jpg    1x,
              ./images/favoriets/mobile/pizza@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="./images/favoriets/mobile/pizza.jpg"
            alt="pizza"
            class="favoriets__img"
          />
        </picture>
      </li>
      <li class="favoriets__item favoriets__item--none-mobile">
        <picture>
          <source
            srcset="
              ./images/favoriets/desktop/chicken.webp    1x,
              ./images/favoriets/desktop/chicken@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favoriets/desktop/chicken.jpg    1x,
              ./images/favoriets/desktop/chicken@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/favoriets/tablet/chicken.webp    1x,
              ./images/favoriets/tablet/chicken@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favoriets/tablet/chicken.jpg    1x,
              ./images/favoriets/tablet/chicken@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <img
            src="./images/favoriets/tablet/chicken.jpg"
            alt="chicken"
            class="favoriets__img"
          />
        </picture>
      </li>
      <li class="favoriets__item favoriets__item--none-mobile">
        <picture>
          <source
            srcset="
              ./images/favoriets/desktop/salat.webp    1x,
              ./images/favoriets/desktop/salat@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favoriets/desktop/salat.jpg    1x,
              ./images/favoriets/desktop/salat@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/favoriets/tablet/salat.webp    1x,
              ./images/favoriets/tablet/salat@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favoriets/tablet/salat.jpg    1x,
              ./images/favoriets/tablet/salat@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <img
            src="./images/favoriets/tablet/salat.jpg"
            alt="salat"
            class="favoriets__img"
          />
        </picture>
      </li>
      <li class="favoriets__item favoriets__item--none-mobile">
        <picture>
          <source
            srcset="
              ./images/favoriets/desktop/borshch.webp    1x,
              ./images/favoriets/desktop/borshch@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favoriets/desktop/borshch.jpg    1x,
              ./images/favoriets/desktop/borshch@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/favoriets/tablet/borshch.webp    1x,
              ./images/favoriets/tablet/borshch@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favoriets/tablet/borshch.jpg    1x,
              ./images/favoriets/tablet/borshch@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <img
            src="./images/favoriets/tablet/borshch.jpg"
            alt="borshch"
            class="favoriets__img"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
