<footer>
  <div class="container footer">
    <div class="footer__desktop">
    <nav class="navigation">
      <a href="#" class="logo footer__logo">
        <svg class="logo-img" width="69" height="51">
          <use href="./images/sprite-icons.svg#logo-icon"></use>
        </svg>
      </a>
      <ul class="navigation-list footer__navigation-list">
        <li class="navigation-list__item">
          <a class="navigation-list__link" href="#">Home</a>
        </li>
        <li class="navigation-list__item">
          <a class="navigation-list__link" href="#">About</a>
        </li>
        <li class="navigation-list__item">
          <a class="navigation-list__link" href="#">Service</a>
        </li>
        <li class="navigation-list__item">
          <a class="navigation-list__link" href="#">Menu</a>
        </li>
        <li class="navigation-list__item">
          <a class="navigation-list__link" href="#">Contact</a>
        </li>
      </ul>
    </nav>

    <form class="subscribe-modal">
      <span class="footer__subscribe-title">Subscribe</span>
      <div class="footer__tablet-subscribe">
      <div class="label-borders footer__label-borders">
        <label>
          <input
            class="subscribe-email"
            type="email"
            name="email"
            placeholder="Enter your email"
          />
        </label>
      </div>
      <div class="footer__mob-button footer__tablet-button footer__button">
      <button type="submit" class="button footer__subscribe">Subscribe</button>
      </div>
      </div>
      <div class="footer__terms">
      <p class="privacy-policy">
        By subscribing you agree to with our
        <a class="privacy-policy__link" href="#">Privacy Policy</a>
      </p>
      </div>
    </form>
    </div>

    <div class="footer__policies">
    <div class="policies">
      <ul class="policies-list">
        <li class="policies-list__item">
          <a class="policies-list__link" href="#">Privacy Policy</a>
        </li>
        <li class="policies-list__item">
          <a class="policies-list__link" href="#">Terms of Service</a>
        </li>
        <li class="policies-list__item">
          <a class="policies-list__link" href="#">Cookies Settings</a>
        </li>
      </ul>
    </div>

    <p class="by-line">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
