<header class="page-header">
    <nav class="menu-nav">
        <a href="" class="logo">
            <svg class="logo-img" width="40" height="40">
                <use href="../images/sprite#logo-icon"></use>
            </svg>
        </a>
        <ul class="menu">
            <li class="menu__item"><a href="" class="menu__link ">Home</a></li>
            <li class="menu__item"><a href="" class="menu__link ">About</a></li>
            <li class="menu__item"><a href="" class="menu__link ">Service</a></li>
            <li class="menu__item"><a href="" class="menu__link ">Menu</a></li>
            <li class="menu__item"><a href="" class="menu__link ">Contact</a></li>
        </ul>
    </nav>
    <button type="button" class="">Order Now</button>

    <button type="button" class="mobile-menu-btn">
        <svg class="mobile-menu-btn-icon" width="40" height="40">
            <use href="..//images/sprite#burger-icon"></use>
        </svg>
    </button>


</header>