<section class="hero" id="hero">
  <div class="container hero__container">
    <div class="hero__content-box">
      <h1 class="section-title hero__title">
        Enjoy Your Favorite Food From Anywhere
      </h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button type="button" class="button hero__button" data-modal-open>
        Order Now
      </button>
    </div>
    <div class="hero__picture-box">
      <div class="slider">
        <div>
          <picture class="hero__image">
            <source
              srcset="
                ./images/hero/hero-img1-desktop.webp    1x,
                ./images/hero/hero-img1-desktop@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero/hero-img1-desktop.png    1x,
                ./images/hero/hero-img1-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero/hero-img1-tablet.webp    1x,
                ./images/hero/hero-img1-tablet@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 786px)"
            />
            <source
              srcset="
                ./images/hero/hero-img1-tablet.png    1x,
                ./images/hero/hero-img1-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <img src="./images/hero/hero-img1-desktop.png" alt="meatballs" />
          </picture>
        </div>
        <div>
          <picture class="hero__image">
            <source
              srcset="
                ./images/hero/hero-img2-desktop.webp    1x,
                ./images/hero/hero-img2-desktop@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero/hero-img2-desktop.png    1x,
                ./images/hero/hero-img2-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero/hero-img2-tablet.webp    1x,
                ./images/hero/hero-img2-tablet@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 786px)"
            />
            <source
              srcset="
                ./images/hero/hero-img2-tablet.png    1x,
                ./images/hero/hero-img2-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <img src="./images/hero/hero-img2-desktop.png" alt="meatballs" />
          </picture>
        </div>
        <div>
          <picture class="hero__image">
            <source
              srcset="
                ./images/hero/hero-img3-desktop.webp    1x,
                ./images/hero/hero-img3-desktop@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero/hero-img3-desktop.png    1x,
                ./images/hero/hero-img3-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero/hero-img3-tablet.webp    1x,
                ./images/hero/hero-img3-tablet@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 786px)"
            />
            <source
              srcset="
                ./images/hero/hero-img3-tablet.png    1x,
                ./images/hero/hero-img3-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <img src="./images/hero/hero-img3-desktop.png" alt="meatballs" />
          </picture>
        </div>
      </div>

      <button type="button" class="hero__button-left slider__button-left">
        <svg class="hero__icon-left" width="48" height="40">
          <use href="./images/sprite-icons.svg#left-arrow-gallery"></use>
        </svg>
      </button>

      <button type="button" class="hero__button-right slider__button-right">
        <svg class="hero__icon-right" width="48" height="40">
          <use href="./images/sprite-icons.svg#right-arrow-gallery"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
