<section class="section-offerings">
  <div class="container container-offerings">
    <picture>
        <source srcset="./images/offerings/desktop/apple.webp 1x, ./images/offerings/desktop/apple@2x.webp 2x"
            media="(min-width: 1280px)" type="image/webp" />
        <source srcset="./images/offerings/desktop/apple.png 1x, ./images/offerings/desktop/apple@2x.png 2x"
            media="(min-width: 1280px)" />

        <source srcset="./images/offerings/tablet/group-apple.webp 1x, ./images/offerings/tablet/group-apple@2x.webp 2x"
            media="(min-width: 768px)" type="image/webp" />
        <source srcset="./images/offerings/tablet/group-apple.png 1x, ./images/offerings/tablet/group-apple@2x.png 2x"
            media="(min-width: 768px)" />

        <source srcset="./images/offerings/mobile/apple.webp 1x, ./images/offerings/mobile/apple@2x.webp 2x"
        media="(max-width: 767px)"
        type="image/webp"/>
        <source
        srcset="./images/offerings/mobile/apple.png 1x, ./images/offerings/mobile/apple@2x.png 2x"  
        media="(max-width: 767px)"/>
        <img src="./images/offerings/mobile/apple.png" alt="Apple" class="offerings__img" />
    </picture>
    <div>
        <h2 class="section-title offerings__title">What’s Special About Our Offerings</h2>
    <p class="offerings__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis
    cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
    <ul class="offerings__list">
        <li class="offerings__item offerings__item--rocket">
            <h3 class="offerings__subtitle">Fasest Delivery</h3>
            <p class="offerings__description offerings__description--size">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        </li>
        <li class="offerings__item offerings__item--touch">
            <h3 class="offerings__subtitle">Easy to order</h3>
            <p class="offerings__description offerings__description--size">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        </li>
    </ul>
    <button type="button" class="offerings__button" data-modal-open>Order Now</button>
    <a href="#" class="offerings__link"><span class="offerings__link_text">Read More</span><svg width="13" height="13">
        <use href="./images/sprite-icons.svg#right-arrow-more-icon"></use>
    </svg></a>
    </div>
    
  </div>
</section>
