<section class="section">
  <div class="container">
    <picture>
        <source srcset="./images/offerings/desktop/aple-desk.webp 1x, ./images/offerings/desktop/aple-desk@2x.webp 2x"
            media="(min-width: 1280px)" type="image/webp" />
        <source srcset="./images/offerings/desktop/aple-desk.jpg 1x, ./images/offerings/desktop/aple-desk@2x.jpg 2x"
            media="(min-width: 1280px)" />

        <source srcset="./images/offerings/tablet/aple-tab.webp 1x, ./images/offerings/tablet/aple-tab@2x.webp 2x"
            media="(min-width: 768px)" type="image/webp" />
        <source srcset="./images/offerings/tablet/aple-tab.jpg 1x, ./images/offerings/tablet/aple-tab@2x.jpg 2x"
            media="(min-width: 768px)"/>

        <source srcset="./images/offerings/mobile/aple.webp 1x, ./images/offerings/mobile/aple@2x.webp 2x"
        media="(max-width: 767px)"
        type="image/webp"/>
        <source
        srcset="./images/offerings/mobile/aple.jpg 1x, ./images/offerings/mobile/aple@2x.jpg 2x"  
        media="(max-width: 767px)"/>
        <img src="./images/offerings/mobile/aple.jpg" alt="Apple" />
    </picture>
    <picture>
        <source srcset="./images/offerings/tablet/Group-apple.webp 1x, ./images/offerings/tablet/Group-apple@2x.webp 2x"
            media="(min-width: 768px)" type="image/webp" />
        <source srcset="./images/offerings/tablet/Group-apple.jpg 1x, ./images/offerings/tablet/Group-apple@2x.jpg 2x"
            media="(min-width: 768px)" />
        <img src="./images/offerings/tablet/Group-apple.jpg" alt="Apple">
    </picture>
    <h2>What’s Special About Our Offerings</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis
    cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
    <ul>
        <li>
            <svg width="32" height="32">
                <use href="./images/sprite-icons.svg#rocket-icon"></use>
            </svg>
            <h3>Fasest Delivery</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        </li>
        <li>
            <svg width="32" height="32">
                <use href="./images/sprite-icons.svg#pointer-icon"></use>
            </svg>
            <h3>Easy to order</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        </li>
    </ul>
    <button type="button">Order Now</button>
    <p>Read More</p>
    <svg width="14" height="14">
        <use href="./images/sprite-icons.svg#right-arrow-more-icon"></use>
    </svg>
  </div>
</section>
