<section class="reviews">
    <div class="reviews__box ">
        <h2 class="reviews__title">What our Customers Say</h2>
        <p class="reviews__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="reviews__group-comment">
            <li class="reviews__item">
                <div class="reviews__group-star">
                    <svg class="reviews__star" width="17.24px" height="16px">
                        <use href=""></use>
                    </svg>
                    <svg class="reviews__star" width="17.24px" height="16px">
                        <use href=""></use>
                    </svg>
                    <svg class="reviews__star" width="17.24px" height="16px">
                        <use href=""></use>
                    </svg>
                    <svg class="reviews__star" width="17.24px" height="16px">
                        <use href=""></use>
                    </svg>
                    <svg class="reviews__star" width="17.24px" height="16px">
                        <use href=""></use>
                    </svg>
                </div>
                <p class="reviews__comment">“The Best app I have used to order food in a while, so many options to
                    choose from too, I would recommend to a freind,
                    No questions asked”</p>
                <img src="" class="reviews__ikon" alt="photo reviews" width="48px">
                <h3 class="reviews__ikon__title">Игорь Демьяненко</h3>
                <p class="reviews__ikon__subtitle">Product Designer</p>
                <span class="reviews__vertical-line"></span>
            </li>
            <li class="reviews__item">
                <div class="reviews__group-star">
                    <svg class="reviews__star" width="17.24px" height="16px">
                        <use href=""></use>
                    </svg>
                    <svg class="reviews__star" width="17.24px" height="16px">
                        <use href=""></use>
                    </svg>
                    <svg class="reviews__star" width="17.24px" height="16px">
                        <use href=""></use>
                    </svg>
                    <svg class="reviews__star" width="17.24px" height="16px">
                        <use href=""></use>
                    </svg>
                    <svg class="reviews__star" width="17.24px" height="16px">
                        <use href=""></use>
                    </svg>
                </div>
                <p class="reviews__comment">“The Best app I have used to order food in a while, so many options to
                    choose from too, I would recommend to a
                    freind,
                    No questions asked”</p>
                <img src="" class="reviews__ikon" alt="photo reviews" width="48px">
                <h3 class="reviews__ikon__title">Игорь Демьяненко</h3>
                <p class="reviews__ikon__subtitle">Product Designer</p>
                <span class="reviews__vertical-line"></span>
            </li>
        </ul>
    </div>