<section class="reviews section">
  <div class="container">
    <h2 class="reviews__title section-title">What our Customers Say</h2>
    <p class="reviews__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="reviews__group-comment">
      <li class="reviews__item">
        <div class="reviews__group-star">
          <svg class="reviews__star" width="17.24" height="16">
            <use href="./images/sprite-icons.svg#star-icon"></use>
          </svg>
          <svg class="reviews__star" width="17.24" height="16">
            <use href="./images/sprite-icons.svg#star-icon"></use>
          </svg>
          <svg class="reviews__star" width="17.24" height="16">
            <use href="./images/sprite-icons.svg#star-icon"></use>
          </svg>
          <svg class="reviews__star" width="17.24" height="16">
            <use href="./images/sprite-icons.svg#star-icon"></use>
          </svg>
          <svg class="reviews__star" width="17.24" height="16">
            <use href="./images/sprite-icons.svg#star-icon"></use>
          </svg>
        </div>
        <p class="reviews__comment">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="reviews__author">
          <picture>
            <source
              srcset="
                ./images/reviews-images/reviews_photo2-desktop.webp    1x,
                ./images/reviews-images/reviews_photo2-desktop@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews-images/reviews_photo2-desktop.png    1x,
                ./images/reviews-images/reviews_photo2-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews-images/reviews_photo2-tablet.webp    1x,
                ./images/reviews-images/reviews_photo2-tablet@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 786px)"
            />
            <source
              srcset="
                ./images/reviews-images/reviews_photo2-tablet.png    1x,
                ./images/reviews-images/reviews_photo2-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews-images/reviews_photo2-mobile.webp    1x,
                ./images/reviews-images/reviews_photo2-mobile@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/reviews-images/reviews_photo2-mobile.png    1x,
                ./images/reviews-images/reviews_photo2-mobile@2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="reviews__icon-box"
              src="./images/reviews-images/reviews_photo2-desktop.png"
              alt="photo reviews"
            />
          </picture>
          <div class="reviews__author-box">
            <h3 class="reviews__icon-box__title">Sumith Shah</h3>
            <p class="reviews__icon-box__subtitle">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__group-star">
          <svg class="reviews__star" width="17.24" height="16">
            <use href="./images/sprite-icons.svg#star-icon"></use>
          </svg>
          <svg class="reviews__star" width="17.24" height="16">
            <use href="./images/sprite-icons.svg#star-icon"></use>
          </svg>
          <svg class="reviews__star" width="17.24" height="16">
            <use href="./images/sprite-icons.svg#star-icon"></use>
          </svg>
          <svg class="reviews__star" width="17.24" height="16">
            <use href="./images/sprite-icons.svg#star-icon"></use>
          </svg>
          <svg class="reviews__star" width="17.24" height="16">
            <use href="./images/sprite-icons.svg#star-icon"></use>
          </svg>
        </div>
        <p class="reviews__comment">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="reviews__author">
          <picture>
            <source
              srcset="
                ./images/reviews-images/reviews_photo1-desktop.webp    1x,
                ./images/reviews-images/reviews_photo1-desktop@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews-images/reviews_photo1-desktop.png    1x,
                ./images/reviews-images/reviews_photo1-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews-images/reviews_photo1-tablet.webp    1x,
                ./images/reviews-images/reviews_photo1-tablet@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 786px)"
            />
            <source
              srcset="
                ./images/reviews-images/reviews_photo1-tablet.png    1x,
                ./images/reviews-images/reviews_photo1-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews-images/reviews_photo1-mobile.webp    1x,
                ./images/reviews-images/reviews_photo1-mobile@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./images/reviews-images/reviews_photo1-mobile.png    1x,
                ./images/reviews-images/reviews_photo1-mobile@2x.png 2x
              "
              media="(min-width: 480px)"
            />

            <img
              class="reviews__icon-box"
              src="./images/reviews-images/reviews_photo1-desktop.png"
              alt="photo reviews"
            />
          </picture>
          <div class="reviews__author-box">
            <h3 class="reviews__icon-box__title">Sumith Shah</h3>
            <p class="reviews__icon-box__subtitle">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
