<section class="section subscribe">
  <div class="subscribe__wrap">
    <h3 class="section-title">Subscribe To Get Special Offers</h3>
    <p class="subscribe__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <form class="subscribe__form">
      <label class="visually-hidden" for="email">Підпишіться на розсилку</label>
      <input
        class="subscribe__input"
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email"
        required
      />
      <button class="button-submit button-plane" type="submit">Sign Up</button>
    </form>
  </div>
  <picture>
    <source
      srcset="
        ./images/subscribe-images/banan-desktop.webp    1x,
        ./images/subscribe-images/banan-desktop@2x.webp 2x
      "
      media="(min-width: 1280px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/subscribe-images/banan-desktop.png    1x,
        ./images/subscribe-images/banan-desktop@2x.png 2x
      "
      media="(min-width: 1280px)"
    />
    <source
      srcset="
        ./images/subscribe-images/banan-tablet.webp    1x,
        ./images/subscribe-images/banan-tablet@2x.webp 2x
      "
      media="(min-width: 768px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/subscribe-images/banan-tablet.png    1x,
        ./images/subscribe-images/banan-tablet@2x.png 2x
      "
      media="(min-width: 768px)"
    />
    <source
      srcset="
        ./images/subscribe-images/banan-mobile.webp    1x,
        ./images/subscribe-images/banan-mobile@2x.webp 2x
      "
      media="(min-width: 320px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/subscribe-images/banan-mobile.png    1x,
        ./images/subscribe-images/banan-mobile@2x.png 2x
      "
      media="(min-width: 320px)"
    />
    <img
      src="./images/subscribe-images/banan-mobile.png"
      alt="Fresh sweet banana"
    />
  </picture>
</section>
