.section-title {
    margin-bottom: 20px;
    
    font-family: inherit;
    font-size: 28px;
    line-height: 1.18;
    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
        font-size: 42px;
        line-height: 1.19;
    }
    @media screen and (min-width: 1280px) {
        font-size: 48px;
        line-height: 1.2;
    }
}