.footer {
  height: 619px;
  background-color: var(--header-background-color);
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);

  background-image: url('/src/images/footer/mob-apple.jpg'),
    url('/src/images/footer/mob-fruit-pack.jpg'),
    url('/src/images/footer/mob-orange.jpg');

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/footer/mob-apple@2x.jpg'),
      url('/src/images/footer/mob-fruit-pack@2x.jpg'),
      url('/src/images/footer/mob-orange@2x.jpg');
  }

  background-size: 120px, 300px, 104px;
  background-repeat: no-repeat;
  background-position: left 160px, bottom, top right;

  &__logo {
    margin-top: 60px;
  }

  &__subscribe-title {
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 12px;
    display: block;
    text-align: start;
  }

  &__subscribe {
    @extend %subscribe-button;
    margin: 20px 0;
  }

  &__button {
    display: flex;
    justify-content: end;
  }

  &__terms {
    font-size: 10px;
    color: var(--primary-text-color);
    margin-bottom: 60px;
  }
}

.navigation {
  display: flex;
}

.navigation-list {
  margin-top: 64px;
  margin-right: 112px;
  margin-bottom: 40px;
  margin-left: 170px;

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.policies-list {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
}

.by-line {
  font-size: 10px;
  margin-top: 40px;
  @extend %display-flex;
}

@media screen and (min-width: $tablet) {
  .footer {
    height: 506px;
    background-image: url('/src/images/footer/tablet-footer-fruits.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/footer/tablet-footer-fruits@2x.jpg');
    }

    background-size: 785px;
    background-position: right bottom;

    &__logo {
      margin-top: 100px;
    }

    &__subscribe-title {
      text-align: start;
    }

    &__terms {
      font-size: 10px;
      color: var(--primary-text-color);
      margin-bottom: 100px;
    }

    &__tablet-subscribe {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__label-borders {
        margin-right: 12px;
        width: 279px;
        height: 42px;
    }

    &__subscribe {
        height: 42px;
        margin: 0;
    }

    &__tablet-policies {
        display: flex;
    }

    .navigation-list {
      display: flex;
      margin-top: 118px;
      margin-left: 114px;

      &__item:not(:last-child) {
        margin-right: 28px;
      }
    }

    .privacy-policy {
        margin-top: 12px;
    }

    .footer__policies {
        display: flex;
        justify-content: space-between;
    }

    .policies-list {
       display: flex;
       justify-content: flex-start;

       &__item:not(:last-child) {
        margin-right: 20px;
       }
    }

    .by-line {
        margin: 0;
      }
  }
}

    @media screen and (min-width: $desktop) {
        .footer {
          height: 395px;
          background-image: url('/src/images/footer/desktop-footer-fruits.jpg');
    
          @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url('/src/images/footer/desktop-footer-fruits@2x.jpg');
          }

          background-size: 1211px;
          background-position: bottom;

        &__desktop {
            display: flex;
            justify-content: space-between;
        }

        &__terms {
            margin: 0;
        }

        &__policies {
            margin-top: 80px;
        }
        }

        .subscribe-modal {
            margin-top: 100px;
        }
    }