.section-offerings {
    padding-top: 50px;
    padding-bottom: 60px;
    background-size: cover;
    background-image: url('../images/offerings/mobile/rectangle.png');

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/offerings/mobile/rectangle@2x.png');
        }
    
    @media screen and (min-width: 768px) {
        padding-top: 147px;
        padding-bottom: 110px;
        background-image: url('../images/offerings/tablet/rectangle.png');
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/offerings/tablet/rectangle@2x.png');
        }
    }

    @media screen and (min-width: 1280px) {
        padding-top: 217px;
        padding-bottom: 76px;
        background-image: url('../images/offerings/desktop/rectangle.png');
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/offerings/desktop/rectangle@2x.png');
        }
        
    }
}

.container-offerings {
    @media screen and (min-width: 1280px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

.offerings__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;

    @media screen and (min-width: 1280px) {
        margin-bottom: 0;
    }
        
}

.offerings__title {
    @media screen and (min-width: 768px) {
        max-width: 526px;
    }  
}

.offerings__description {
    margin-bottom: 28px;

    font-size: 14px;
    line-height: 1.14;

    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
        max-width: 500px;
        margin-bottom: 40px;

        font-size: 16px;
        line-height: 1.19;
    }

    @media screen and (min-width: 1280px) {
        font-size: 15px;
        line-height: 1.5;
    }
}

.offerings__description--size {
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.14;
        max-width: 252px;
    }

    @media screen and (min-width: 1280px) {
        line-height: 1.4;
    }
}

.offerings__list {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}

.offerings__item::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFFFFF;

}

.offerings__item--rocket::before {
    background-image: url('../images/offerings/rocket.svg');
            

}

.offerings__item--touch::before {
    background-image: url('../images/offerings/touch.svg');
}

.offerings__subtitle {
    position: relative;
    margin-bottom: 16px;
    padding-top: 8px;

    font-size: 18px;
    line-height: 1.17;
}

.offerings__button {
    margin-right: 21px;
    padding: 10px 32px;

    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    @extend %secondary-button;
    outline: transparent;
    border-radius: 30px;
    transition: var(--transition-time-func);
    cursor: pointer;

    &:hover,
    &:focus {
        outline: transparent;
        border: 2px solid #597D00;
    }
}

.offerings__link {
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    color: var(--secondary-text-color);
}

.offerings__link_text {
    margin-right: 7px;
}
