.section-offerings {
    padding-top: 70px;
    padding-bottom: 60px;
    background-size: cover;
    background-image: url('../images/offerings/mobile/rectangle.png');

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/offerings/mobile/rectangle@2x.png');
        }
    
    @media screen and (min-width: $tablet) {
        padding-top: 187px;
        padding-bottom: 110px;
        background-image: url('../images/offerings/tablet/rectangle.png');
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/offerings/tablet/rectangle@2x.png');
        }
    }

    @media screen and (min-width: $desktop) {
        padding-top: 230px;
        padding-bottom: 76px;
        background-image: url('../images/offerings/desktop/rectangle.png');
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/offerings/desktop/rectangle@2x.png');
        }
        
    }
}

.container-offerings {
    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

.offerings__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.offerings__title {
    margin-bottom: 28px;

    @media screen and (min-width: $tablet) {
        max-width: 526px;
    }  
}

.offerings__description {
    margin-bottom: 28px;

    font-size: 14px;
    line-height: 1.14;

    color: var(--primary-text-color);

    @media screen and (min-width: $tablet) {
        max-width: 500px;

        font-size: 16px;
        line-height: 1.19;
    }

    @media screen and (min-width: $desktop) {
        font-size: 15px;
        line-height: 1.5;
    }
}

.offerings__description--size {
    @media screen and (min-width: $tablet) {
        font-size: 14px;
        line-height: 1.14;
        max-width: 252px;
    }

    @media screen and (min-width: $desktop) {
        line-height: 1.4;
    }
}

.offerings__list {
    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
    }
}

.offerings__icon {
    display: flex;
    width: 48px;
    height: 48px;

    align-items: center;
    justify-content: center;
    margin-bottom: 8px;

    fill: var(--accent-dark-green);
    background-color: #FFFFFF;
    border-radius: 50%;
}

.offerings__subtitle {
    margin-bottom: 16px;

    font-size: 18px;
    line-height: 1.17;
}

.offerings__button {
    margin-right: 21px;
    padding: 10px 32px;

    font-size: 14px;
    line-height: 1.5;
    @extend %secondary-button;
    outline: transparent;
    border-radius: 30px;
    transition: all 0.2s ease-out;

    &:hover,
    &:focus {
        outline: transparent;
        border: 2px solid #597D00;
    }
}

.offerings__link {
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    color: var(--secondary-text-color);
}

.offerings__link_text {
    margin-right: 7px;
}
