@media screen and (min-width: $mobile) {
  .reviews {
    padding: 60px 20px 62px;

    background-size: 100% auto;
    background-color: #ffe550;
  }

  .reviews__item {
    margin-bottom: 24px;
    background: #fefefe;
    border-radius: 0px 30px 30px 30px;
    padding: 8px 8px 10px 8px;
  }
  .reviews__title {
    padding-bottom: 20px;
    line-height: 1.16;
  }
  .reviews__text {
    padding-bottom: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.14px;
    color: #2c2c2c;
  }
  .reviews__group-star {
    padding-bottom: 28px;
  }
  .reviews__star {
    fill: #ffe550;
  }
  .reviews__comment {
    padding-bottom: 46.35px;

    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;

    color: #2c2c2c;
  }
  .reviews__author {
    display: flex;
    text-align: center;
    gap: 16px;
    overflow: hidden;
  }
  .reviews__author-box {
    text-align: start;
  }
  .reviews__line {
    border-right: 0.85px solid #7eb101;
  }
}
@media screen and (min-width: $tablet) {
  .reviews {
    padding: 58.62px 32px 115px;
  }
  .reviews__item {
    padding: 12px 12px 14px 12px;
  }
  .reviews__text {
    line-height: 1.18;
    padding-bottom: 32px;
  }
  .reviews__comment {
    font-size: 18px;
    line-height: 1.17;
  }
  .reviews__group-comment {
    display: flex;
  }
  .reviews__item {
    margin-bottom: 0;
    margin-right: 32px;
  }
}

@media screen and (min-width: $desktop) {
  .reviews {
    padding: 100px 16px 213px;
  }
  .reviews__item {
    padding: 14px 14px 16px 14px;
  }
  .reviews__title {
    line-height: 1.16;
  }
  .reviews__text {
    line-height: 1.18;
    padding-bottom: 48px;
  }
  .reviews__item {
    margin-right: 139px;
  }
}
