.subscribe-email {
    border-style: none;
    outline: none;
    padding: 0;
    margin: 12px;
}

.label-borders {
    border: 0.854167px solid var(--yellow-color);
    border-radius: 30px;
    background: #fff;
}